<%= form_with(model: hotel, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <table class="reservation-info">
    <tr>
      <th><%= f.label :name, '宿泊先名' %></th>
      <td><%= f.text_field :name, placeholder:'宿泊先名を入力' %></td>
    </tr>
    <tr>
      <th><%= f.label :image, '部屋写真' %></th>
      <td><%= f.file_field :image %></td>
    </tr>
    <tr>
      <th><%= f.label :introduction, '部屋紹介' %></th>
      <td><%= f.text_area :introduction, placeholder:'紹介文を入力' %></td>
    </tr>
    <tr>
      <!--二回目提出時変更箇所↓-->
      <th><%= f.label :area, 'エリア' %></th>
      <td><%= f.text_field :area, placeholder: 'エリアを入力'%></td>
      <!--二回目提出時変更箇所↑-->
    </tr>
    <tr>
      <th><%= f.label :price, '料金(1泊あたり)' %></th>
      <td><%= f.text_field :price, placeholder: '料金を入力'%></td>
    </tr>
  </table>
  <%= f.submit submit_text, class: 'submit-button' %>
<% end %>
