<section class="section-top hotel-list">
  <h2>部屋一覧   (検索結果：<%= @hotel.count %>件)</h2>
  <div class="hotel-block">
   <% @hotels.each do |hotel| %>
      <%= link_to hotel, class: 'hotel-box' do %>
      <div class="hotel-box">
        <div class="hotel-thunmnail">
          <% if hotel.image? %>
            <%= image_tag hotel.image.url %>
          <% else %>
            <%= image_tag('hotel_sample.jpeg') %>
          <% end %>
        </div>
        <div class="hotel-profile">
          <p class="hotel-name"><%= hotel.name %></p>
          <p class="hotel-location"><%= hotel.location %></p>
          <p class="hotel-price">¥ <%= hotel.price %></p>
        </div>
      </div>  
      <% end %>  
    <% end %>  
  </div>  
</section>

